 body {
     font-family: 'Droid Sans', sans-serif;
     font-size: 14px;
 }
 .container {
     max-width: 1000px;
 }
 section {
     height: calc(90% - 50px);
 }
 .affix {
     padding: 0px;
     padding-bottom: 5px;
     -webkit-transition: padding 0.2s linear;
     -moz-transition: padding 0.2s linear;
     -o-transition: padding 0.2s linear;
     transition: padding 0.2s linear;
 }
 section {
     display: block;
     overflow: hidden;
 }
 .logo img {
     max-width: 75px;
 }
 .affix-top {
     padding-top: 15px;
     padding-bottom: 15px;
     -webkit-transition: padding 0.5s linear;
     -moz-transition: padding 0.5s linear;
     -o-transition: padding 0.5s linear;
     transition: padding 0.5s linear;
 }
 .btn-custom {
     margin-top: 13px;
     background: #eee;
     color: #000;
 }
 .navbar-fixed-top {
     box-shadow: 0px -2px 6px #666;
     background: #fff;
 }
 .navbar-top > li > a {
     padding-bottom: 7px;
     padding-top: 7px;
 }
 .navbar-fixed-top {
     background: #305E3B;
 }
 .logo {
     height: auto;
     margin-left: 0 !important;
     padding: 0 !important;
 }
 .affix .logo {
     margin-top: 10px;
 }
 .affix .navbar-top {
     margin-top: 6px;
 }
 .navbar-collapse {
     margin-right: 0 !important;
 }
 .top-section {
     background: url(../img/fedena-intro-bg.jpg) no-repeat;
     background-size: cover;
     max-height: 580px;
     margin-top: 62px;
     height: auto;
     overflow: hidden;
 }
 .bg-box {
     min-height: 377px;
     overflow: hidden;
 }
 .banner-area {
     color: #fff;
     margin-top: 68px;
     text-align: center;
 }
 .banner-area h4 {
     font-size: 20px;
     margin-top: 15px;
     margin-bottom: 45px;
     display: block;
     color: rgba(255, 255, 255, 0.5);
 }
 .desktop-banner {
     display: inline-table;
     margin: auto;
     overflow: hidden;
     position: relative;
 }
 #myCarousel {
     display: inline-flex;
     margin-bottom: auto;
     margin-right: auto;
     margin-top: -295px;
     max-width: 474px;
     position: relative;
     top: -58px;
     z-index: 1000;
 }
 .mob-bg-box {
     height: 340px;
 }
 .mobile-banner {
     display: inline-table;
     margin: auto;
     position: relative;
     right: -290px;
     top: -400px;
     z-index: 1000;
 }
 .mobile-banner .item img {
     height: 281px;
     margin-top: 70px;
     width: 159px;
 }
 .small-title {
     color: #666666;
     font-size: 22px;
     font-weight: normal;
     padding: 55px 0 40px;
     text-align: center;
     text-transform: uppercase;
 }
 .trusted-box,
 .feature-box {
     border-top: 1px solid #e2e2e2;
     padding-bottom: 40px;
 }
 .no-paddding {
     padding: 0;
 }
 .icon-college {
     background-image: url("../img/icon1.png");
     background-repeat: no-repeat;
     padding: 0 0 0 110px;
 }
 .icon-college p,
 .teacher p {
     color: #57AA6B;
     font-size: 57px;
     font-weight: 700;
     line-height: 1;
     margin: 0 0 4px;
 }
 .icon-college span,
 .teacher span {
     color: #666666;
     font-size: 27px;
     font-weight: 700;
     text-transform: uppercase;
 }
 .icon-teacher {
     background-image: url("../img/icon2.png");
     background-repeat: no-repeat;
     padding: 0 0 0 110px;
 }
 .teacher p,
 .teacher span {
     text-align: right;
 }
 .language_block p {
     color: #666666;
     font-size: 24px;
     margin-top: 40px;
 }
 .language_block p span {
     color: #57AA6B;
 }
 .feature-box h4 {
     color: #333333;
     text-align: center;
     font-size: 34px;
     padding: 65px 0 92px;
 }
 .lists div {
     font-size: 20px;
     display: block;
     overflow: hidden;
     margin-bottom: 20px;
 }
 .lists div .fa {
     color: #57AA6B;
     font-size: 30px;
     width: 55px;
     float: left;
 }
 .slogan {
     margin-top: 20px;
 }
 .container.no-padding {
     padding: 0;
 }
 .btn-center {
     display: block;
     margin: 51px auto auto;
     text-align: center;
     padding-bottom: 15px;
 }
 .options {
     text-align: center;
     margin-bottom: 30px;
     margin-top: -13px;
 }
 .options i {
     font-size: 103px;
     color: #666;
     height: 120px;
 }
 .feature-box .options h4 {
     color: #333333;
     font-size: 20px;
     padding: 0;
     min-height: 44px;
     text-align: center;
 }
 .feature-box .options p {
     font-size: 16px;
     margin-bottom: 22px;
     margin-top: 18px;
 }
 .feature-box .options a {
     color: #57AA6B;
     font-weight: bold;
 }
 .feature-box .options a:hover {
     text-decoration: none !important;
     color: #57AA6B;
 }
 .what-new {
     background: #57AA6B;
     display: block;
     overflow: hidden;
     padding: 80px 0;
 }
 .what-new span {
     color: #fff;
     font-size: 23px;
 }
 .small-info {
     color: #fff;
     font-size: 35px;
     font-weight: bold;
     margin-top: 27px;
     text-transform: uppercase;
 }
 .small-info b {
     font-size: 73px;
 }
 .center-count {
     text-align: center;
 }
 .center-count span {
     margin: auto;
     display: inline-table;
     margin: 20px;
     font-weight: bold;
     font-size: 30px;
 }
 .btn-one,
 .btn-two {
     margin: 30px 30px auto 15px;
     display: inline-table;
     color: #57AA6B !important;
     font-size: 18px;
 }
 .btn-one {
     background: #fff;
     color: #57AA6B;
 }
 .btn-two {
     border: 1px solid #fff;
     color: #fff !important;
 }
 .panel-box p {
     text-align: center;
     display: block;
     font-size: 19px;
 }
 .panel-box {
     padding: 30px;
     background: #eee;
     border-top: 1px solid #e2e2e2;
 }
 .footer {
     background: #305E3B;
     padding-top: 15px;
 }
 .footer p {
     color: #fff;
 }
 @media screen and (max-width: 700px) {
     #myCarousel {
         margin-top: -295px;
         max-width: 368px;
         top: -92px;
     }
 }
 @media screen and (max-width: 990px) {
     .icon-college {
         text-align: center;
     }
     .teacher {
         margin: auto;
         display: block;
         overflow: hidden;
         text-align: center;
     }
     .icon-teacher {
         float: none;
         text-align: center;
     }
     .teacher p,
     .teacher span {
         text-align: center;
     }
     .sm-sum {
         display: block;
         overflow: hidden;
         margin-bottom: 30px;
     }
 }
 @media screen and (max-width: 500px) {
     .icon-college p,
     .teacher p {
         font-size: 40px;
     }
 }
 @media screen and (max-width: 672px) {
     .top-section .desktop-banner .bg-box {
         min-height: 230px;
         height: 230px !important;
         width: 426px;
     }
     .desktop-banner .item img {
         height: 214px;
         margin-top: 171px;
     }
 }
 @media screen and (max-width: 420px) {
     .top-section .desktop-banner .bg-box {
         height: 170px;
         min-height: 170px;
         width: 286px;
         max-height: 170px;
     }
     .desktop-banner .item img {
         height: 159px;
         margin-top: 228px;
         width: 190px;
     }
 }